.App-header {
  background-color: #222831;
  border-bottom: 3px solid #76ABAE;
  min-height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center; 
  font-size: calc(8px + 2vmin);
}

button {
  background-color: #2b2f33;
  color: white;
  margin: 8px;
  padding: 8px 12px;
  font-size: calc(8px + 1vmin);
  font-weight: bold;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  margin-left: 4px;
  border: 1.5px solid #76ABAE;
}

.PatternName {
  color: #ffffff;
  font-weight: bold;
  font-size: calc(16px + 1vmin);
  margin-right: 8px;
}
